@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

#hero {
  background-image: url("../assets/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lp {
  background-color: rgba(255, 255, 255, 0.406);
}
.container {
  @apply max-w-6xl mx-auto md:px-8 px-5;
}
.selected {
  @apply bg-darkestBlue text-white  rounded-lg shadow-lg;
}
.img {
  position: absolute;

  inset: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.097),
    rgba(0, 0, 0, 0.571) 80%
  );
}

.img-label {
  @apply absolute  bottom-0 left-0 px-4 py-2   group-hover:scale-110 duration-500;
}
.moblie-label {
  @apply bottom-1/2 left-1/2 -translate-x-1/2  translate-y-1/2 bg-darkestBlue rounded-xl;
}
.back::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -10;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.503),
    rgba(0, 0, 0, 0.706)
  );
}

@media (min-width: 768px) {
  #hero {
    background-image: url("../assets/hero-desktop.jpg");

    background-position: top;
  }
}

.item-circle {
  @apply w-16 h-16 md:w-20 md:h-20 rounded-full shadow-md  bg-white flex justify-center items-center;
}

/* hamburger menu */
.hamburger {
  cursor: pointer;
  width: 18px;
  height: 18px;
  transition: all 250ms;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  transform: rotate(0);
  transition: all 500ms;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(180deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.brand {
  color: transparent;
  -webkit-text-stroke: 0.5px #03045e;
  background-image: linear-gradient(
    45deg,
    transparent 20%,
    #03045e 20%,
    #03045e 40%,
    transparent 40%,
    transparent 50%,
    #03045e 50%,
    #03045e 70%,
    transparent 70%,
    transparent 80%,
    #03045e 80%,
    #03045e 88%,
    transparent 88%
  );

  background-clip: text;
  background-size: 200%;
  background-repeat: no-repeat;
  animation: bgc 4500ms ease-in-out infinite alternate;
}

@keyframes bgc {
  0% {
    background-position: -350px 0px;
  }
  100% {
    background-position: 280px 0px;
  }
}
